# Import and Prep

In [ ]:
# Read Text Files with Pandas using read_csv()
  
# importing pandas
import pandas as pd
  
# read text file into pandas DataFrame
df = pd.read_csv("/content/drive/MyDrive/BDC/BDC Satria Data 2022/train_fktp.txt", sep=",", header=None, names = ['no_peserta', 'no_kel', 'bobot', 'id_kunj','tgl_datang', 'tgl_pulang', 
                                                                                                                 'prov', 'kab', 'kepemilikan', 'jenis', 'tipe', 'tingkat_pelayanan', 
                                                                                                                 'jenis_poli', 'segmen_peserta', 'kode_ICD', 'kode_ICD3', 'kode_ICD4', 
                                                                                                                 'ICD4_diagnosis', 'prov_rujukan', 'kab_rujukan', 'kepemilikan_rujukan',
                                                                                                                 'jenis_rujukan', 'tipe_rujukan' , 'poli_rujukan', 'jenis_kunjungan', 
                                                                                                                 'status_pulang'])
# df = pd.read_csv("/content/drive/MyDrive/BDC/BDC Satria Data 2022/test_fktp.txt", sep=",", header=None,
#                  names = ['no_peserta', 'no_kel', 'bobot', 'id_kunj','tgl_datang', 'tgl_pulang', 
#                           'prov', 'kab', 'kepemilikan', 'jenis', 'tipe', 'tingkat_pelayanan', 
#                           'jenis_poli', 'segmen_peserta', 'kode_ICD', 'kode_ICD3', 'kode_ICD4', 
#                           'ICD4_diagnosis', 'prov_rujukan', 'kab_rujukan', 'kepemilikan_rujukan',
#                           'jenis_rujukan', 'tipe_rujukan' , 'poli_rujukan', 'jenis_kunjungan'])
# display DataFrame
df.info()

FileNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
df_train = pd.read_csv("/content/drive/MyDrive/BDC/train-siap-encode.csv")

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056897 entries, 0 to 4056896
Data columns (total 30 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   no_peserta           float64
 2   no_kel               int64
 3   bobot                float64
 4   id_kunj              object
 5   tgl_datang           float64
 6   tgl_pulang           float64
 7   prov                 int64
 8   kab                  int64
 9   kepemilikan          int64
 10  jenis                int64
 11  tipe                 int64
 12  tingkat_pelayanan    int64
 13  jenis_poli           float64
 14  segmen_peserta       int64
 15  kode_ICD             int64
 16  kode_ICD3            object
 17  kode_ICD4            object
 18  prov_rujukan         int64
 19  kab_rujukan          int64
 20  kepemilikan_rujukan  int64
 21  jenis_rujukan        int64
 22  tipe_rujukan         int64
 23  poli_rujukan         int64
 24  jenis_kunjungan      int64
 25  status_pulang        object
 26  jum_kunj             int64
 27  kodeICD_huruf        object
 28  kodeICD_angka        float64
 29  jml_hari             int64
dtypes: float64(6), int64(19), object(5)
memory usage: 928.6+ MB

In [ ]:
df = df_train.drop(['Unnamed: 0'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056897 entries, 0 to 4056896
Data columns (total 29 columns):
 #   Column               Dtype
---  ------               -----
 0   no_peserta           float64
 1   no_kel               int64
 2   bobot                float64
 3   id_kunj              object
 4   tgl_datang           float64
 5   tgl_pulang           float64
 6   prov                 int64
 7   kab                  int64
 8   kepemilikan          int64
 9   jenis                int64
 10  tipe                 int64
 11  tingkat_pelayanan    int64
 12  jenis_poli           float64
 13  segmen_peserta       int64
 14  kode_ICD             int64
 15  kode_ICD3            object
 16  kode_ICD4            object
 17  prov_rujukan         int64
 18  kab_rujukan          int64
 19  kepemilikan_rujukan  int64
 20  jenis_rujukan        int64
 21  tipe_rujukan         int64
 22  poli_rujukan         int64
 23  jenis_kunjungan      int64
 24  status_pulang        object
 25  jum_kunj             int64
 26  kodeICD_huruf        object
 27  kodeICD_angka        float64
 28  jml_hari             int64
dtypes: float64(6), int64(18), object(5)
memory usage: 897.6+ MB

In [ ]:
df = df_train

In [ ]:
header = ['no_peserta', 'no_kel', 'bobot', 'id_kunj','tgl_datang', 'tgl_pulang', 'prov', 'kab', 'kepemilikan', 'jenis', 'tipe', 'tingkat_pelayanan', 'jenis_poli', 'segmen_peserta', 'kode_ICD', 'kode_ICD3', 'kode_ICD4', 'ICD4_diagnosis', 'prov_rujukan', 'kab_rujukan', 'kepemilikan_rujukan', 'jenis_rujukan', 'tipe_rujukan' , 'poli_rujukan', 'jenis_kunjungan', 'status_pulang']

In [ ]:
df.describe()

,no_peserta,no_kel,bobot,prov,kab,kepemilikan,jenis,tipe,tingkat_pelayanan,jenis_poli,segmen_peserta,kode_ICD,prov_rujukan,kab_rujukan,kepemilikan_rujukan,jenis_rujukan,tipe_rujukan,poli_rujukan,jenis_kunjungan
count,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06,1.014225e+06
mean,9.159896e+07,9.492149e+07,1.056841e+02,3.609869e+01,3.637708e+03,5.651684e+00,1.677975e+00,2.710881e+00,1.065155e+00,5.249099e+00,3.491121e+00,3.944485e+03,9.225917e+01,9.408837e+03,8.946482e+01,8.895451e+01,9.170838e+01,9.809328e+01,1.341060e+00
std,8.995272e+07,8.858823e+07,1.873387e+02,1.871773e+01,1.870930e+03,2.935942e+00,8.368108e-01,1.313511e+00,3.418626e-01,5.679685e+00,1.384277e+00,4.367784e+03,1.873706e+01,1.918504e+03,2.662540e+01,2.820152e+01,1.970859e+01,2.908261e-01,4.740658e-01
min,1.500000e+01,1.500000e+01,5.106980e-01,1.100000e+01,1.101000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.100000e+01,1.101000e+03,1.000000e+00,1.000000e+00,5.000000e+00,9.800000e+01,1.000000e+00
25%,3.382176e+07,3.580259e+07,1.680836e+01,3.100000e+01,3.171000e+03,3.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.940000e+02,9.800000e+01,9.998000e+03,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,1.000000e+00
50%,6.769082e+07,7.177364e+07,5.158066e+01,3.300000e+01,3.318000e+03,3.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,9.510000e+02,9.800000e+01,9.998000e+03,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,1.000000e+00
75%,1.016452e+08,1.112675e+08,1.281638e+02,3.600000e+01,3.603000e+03,9.000000e+00,2.000000e+00,4.000000e+00,1.000000e+00,1.200000e+01,5.000000e+00,9.999000e+03,9.800000e+01,9.998000e+03,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,2.000000e+00
max,4.553771e+08,4.553795e+08,3.710185e+04,9.400000e+01,9.471000e+03,9.000000e+00,7.000000e+00,1.000000e+01,3.000000e+00,2.800000e+01,5.000000e+00,9.999000e+03,9.800000e+01,9.998000e+03,9.800000e+01,9.800000e+01,9.900000e+01,9.900000e+01,2.000000e+00

In [ ]:
df.isnull().sum()

no_peserta                   0
no_kel                       0
bobot                        0
id_kunj                      0
tgl_datang                   0
tgl_pulang                   0
prov                         0
kab                          0
kepemilikan                  0
jenis                        0
tipe                         0
tingkat_pelayanan            0
jenis_poli                   1
segmen_peserta               0
kode_ICD                     0
kode_ICD3              1380240
kode_ICD4                    0
ICD4_diagnosis               0
prov_rujukan                 0
kab_rujukan                  0
kepemilikan_rujukan          0
jenis_rujukan                0
tipe_rujukan                 0
poli_rujukan                 0
jenis_kunjungan              0
status_pulang                0
dtype: int64

In [ ]:
df.head()

,no_peserta,no_kel,bobot,id_kunj,tgl_datang,tgl_pulang,prov,kab,kepemilikan,jenis,...,kode_ICD4,ICD4_diagnosis,prov_rujukan,kab_rujukan,kepemilikan_rujukan,jenis_rujukan,tipe_rujukan,poli_rujukan,jenis_kunjungan,status_pulang
0,95085112.0,26931775,2.626307,449590620P000054,2020-06-17,2020-06-17,51,5171,9,3,...,K297,"Gastritis, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
1,224470578.0,227368233,1.051830,467490619P000001,2019-06-01,2019-06-01,35,3516,9,2,...,Z309,"Contraceptive management, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
2,63871289.0,62313678,364.741455,254321219Y002368,2019-12-21,2019-12-21,34,3402,3,1,...,I10,Essential (primary) hypertension,98,9998,98,98,98,98,1,Belum_Sehat
3,29915626.0,113446188,1.050523,88681119P000020,2019-11-04,2019-11-04,35,3509,3,1,...,I110,Hypertensive heart disease with (congestive) h...,98,9998,98,98,98,98,1,Belum_Sehat
4,189355720.0,69855169,30.044949,97010720P000238,2020-07-15,2020-07-15,62,6206,3,1,...,I10,Essential (primary) hypertension,98,9998,98,98,98,98,1,Belum_Sehat

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056897 entries, 0 to 4056896
Data columns (total 26 columns):
 #   Column               Dtype
---  ------               -----
 0   no_peserta           float64
 1   no_kel               int64
 2   bobot                float64
 3   id_kunj              object
 4   tgl_datang           object
 5   tgl_pulang           object
 6   prov                 int64
 7   kab                  int64
 8   kepemilikan          int64
 9   jenis                int64
 10  tipe                 int64
 11  tingkat_pelayanan    int64
 12  jenis_poli           float64
 13  segmen_peserta       int64
 14  kode_ICD             int64
 15  kode_ICD3            object
 16  kode_ICD4            object
 17  ICD4_diagnosis       object
 18  prov_rujukan         int64
 19  kab_rujukan          int64
 20  kepemilikan_rujukan  int64
 21  jenis_rujukan        int64
 22  tipe_rujukan         int64
 23  poli_rujukan         int64
 24  jenis_kunjungan      int64
 25  status_pulang        object
dtypes: float64(3), int64(16), object(7)
memory usage: 804.7+ MB

#Cleaning

Change datetime to pandas format

In [ ]:
df['tgl_datang'] = pd.to_datetime(df['tgl_datang'], format="%Y-%m-%d")

In [ ]:
df['tgl_pulang'] = pd.to_datetime(df['tgl_pulang'], format="%Y-%m-%d")

Check Imbalance

In [ ]:
df.groupby('status_pulang').count()

check pattern of some columns

In [ ]:
#checking uniqueness and pattern of no keluarga
ax = []
for i in df['no_kel']:
  # if len(str(i)) >= 2 and len(str(i)) <= 7:
    # print(i)
  ax.append(len(str(i)))
print(min(ax), max(ax))

2 9

In [ ]:
# check uniqueness and pattern of id kunjungan
ax = []
for i in df['id_kunj']:
  ax.append(len(str(i)))
print(min(ax), max(ax))

9 16

In [ ]:
# print(df['kode_ICD4'].unique())
ax = []
for i in df['kode_ICD4']:
  ax.append(len(str(i)))
print(min(ax), max(ax))

3 5

In [ ]:
len(df['no_kel']) - len(df['no_kel'].unique())

3618617

In [ ]:
for a in header:
  print(a)
  print(df[a].unique())
  print(len(df[a].unique()))
  print(len(df[a]) - len(df[a].unique()))

no_peserta
[9.50851120e+07 2.24470578e+08 6.38712890e+07 ... 8.96015200e+07
 1.44029606e+08 2.47667570e+07]
832023
3224874
no_kel
[ 26931775 227368233  62313678 ... 336355362 144029606  44813505]
438280
3618617
bobot
[  2.62630701   1.05183005 364.74145508 ... 343.9397583  667.41711426
 132.90498352]
50390
4006507
id_kunj
['449590620P000054' '467490619P000001' '254321219Y002368' ... '962412926'
 '273170420P000003' '1188955927']
4056897
0
tgl_datang
['2020-06-17T00:00:00.000000000' '2019-06-01T00:00:00.000000000'
 '2019-12-21T00:00:00.000000000' '2019-11-04T00:00:00.000000000'
 '2020-07-15T00:00:00.000000000' '2019-07-17T00:00:00.000000000'
 '2019-11-07T00:00:00.000000000' '2019-06-13T00:00:00.000000000'
 '2020-07-10T00:00:00.000000000' '2019-05-04T00:00:00.000000000'
 '2019-01-08T00:00:00.000000000' '2020-03-17T00:00:00.000000000'
 '2019-10-05T00:00:00.000000000' '2019-03-13T00:00:00.000000000'
 '2019-12-24T00:00:00.000000000' '2019-12-01T00:00:00.000000000'
 '2019-09-02T00:00:00.000000000' '2020-09-15T00:00:00.000000000'
 '2019-03-25T00:00:00.000000000' '2019-10-31T00:00:00.000000000'
 '2020-06-25T00:00:00.000000000' '2019-12-02T00:00:00.000000000'
 '2020-02-26T00:00:00.000000000' '2019-08-13T00:00:00.000000000'
 '2020-03-13T00:00:00.000000000' '2019-11-21T00:00:00.000000000'
 '2020-03-11T00:00:00.000000000' '2019-10-15T00:00:00.000000000'
 '2020-03-14T00:00:00.000000000' '2020-11-05T00:00:00.000000000'
 '2019-07-06T00:00:00.000000000' '2019-07-01T00:00:00.000000000'
 '2019-09-17T00:00:00.000000000' '2019-11-15T00:00:00.000000000'
 '2019-08-05T00:00:00.000000000' '2019-01-31T00:00:00.000000000'
 '2019-12-30T00:00:00.000000000' '2019-03-28T00:00:00.000000000'
 '2020-01-22T00:00:00.000000000' '2020-11-12T00:00:00.000000000'
 '2019-05-23T00:00:00.000000000' '2019-07-11T00:00:00.000000000'
 '2019-03-21T00:00:00.000000000' '2020-04-17T00:00:00.000000000'
 '2020-12-08T00:00:00.000000000' '2019-10-18T00:00:00.000000000'
 '2020-09-21T00:00:00.000000000' '2020-01-20T00:00:00.000000000'
 '2019-12-20T00:00:00.000000000' '2019-03-31T00:00:00.000000000'
 '2020-10-22T00:00:00.000000000' '2019-08-19T00:00:00.000000000'
 '2020-09-28T00:00:00.000000000' '2019-08-03T00:00:00.000000000'
 '2020-04-06T00:00:00.000000000' '2020-10-21T00:00:00.000000000'
 '2020-12-17T00:00:00.000000000' '2019-05-02T00:00:00.000000000'
 '2019-07-08T00:00:00.000000000' '2019-10-17T00:00:00.000000000'
 '2019-11-19T00:00:00.000000000' '2019-07-23T00:00:00.000000000'
 '2020-12-09T00:00:00.000000000' '2019-01-15T00:00:00.000000000'
 '2019-12-16T00:00:00.000000000' '2019-10-07T00:00:00.000000000'
 '2020-04-03T00:00:00.000000000' '2020-07-06T00:00:00.000000000'
 '2020-08-10T00:00:00.000000000' '2020-12-14T00:00:00.000000000'
 '2020-07-20T00:00:00.000000000' '2019-10-10T00:00:00.000000000'
 '2019-05-03T00:00:00.000000000' '2019-02-26T00:00:00.000000000'
 '2019-09-16T00:00:00.000000000' '2019-01-23T00:00:00.000000000'
 '2019-08-02T00:00:00.000000000' '2019-07-03T00:00:00.000000000'
 '2020-10-15T00:00:00.000000000' '2020-01-06T00:00:00.000000000'
 '2019-01-09T00:00:00.000000000' '2019-09-23T00:00:00.000000000'
 '2020-02-22T00:00:00.000000000' '2020-02-05T00:00:00.000000000'
 '2019-10-14T00:00:00.000000000' '2019-11-18T00:00:00.000000000'
 '2019-02-28T00:00:00.000000000' '2020-11-02T00:00:00.000000000'
 '2019-09-20T00:00:00.000000000' '2019-10-01T00:00:00.000000000'
 '2019-02-12T00:00:00.000000000' '2019-07-09T00:00:00.000000000'
 '2019-06-22T00:00:00.000000000' '2019-10-28T00:00:00.000000000'
 '2020-06-24T00:00:00.000000000' '2019-03-02T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2019-08-24T00:00:00.000000000'
 '2020-11-26T00:00:00.000000000' '2020-12-30T00:00:00.000000000'
 '2019-09-26T00:00:00.000000000' '2020-03-28T00:00:00.000000000'
 '2020-08-15T00:00:00.000000000' '2019-11-30T00:00:00.000000000'
 '2020-01-31T00:00:00.000000000' '2019-09-12T00:00:00.000000000'
 '2020-10-14T00:00:00.000000000' '2019-07-20T00:00:00.000000000'
 '2020-02-11T00:00:00.000000000' '2020-03-12T00:00:00.000000000'
 '2020-08-05T00:00:00.000000000' '2019-02-06T00:00:00.000000000'
 '2019-01-24T00:00:00.000000000' '2020-06-13T00:00:00.000000000'
 '2020-10-09T00:00:00.000000000' '2019-01-05T00:00:00.000000000'
 '2020-05-31T00:00:00.000000000' '2019-04-30T00:00:00.000000000'
 '2020-07-29T00:00:00.000000000' '2019-06-26T00:00:00.000000000'
 '2020-10-03T00:00:00.000000000' '2020-11-27T00:00:00.000000000'
 '2020-09-18T00:00:00.000000000' '2019-08-15T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-01-12T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2019-01-10T00:00:00.000000000'
 '2020-02-25T00:00:00.000000000' '2020-03-23T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-08-07T00:00:00.000000000'
 '2019-09-05T00:00:00.000000000' '2020-07-22T00:00:00.000000000'
 '2020-05-04T00:00:00.000000000' '2020-02-04T00:00:00.000000000'
 '2019-01-20T00:00:00.000000000' '2020-02-08T00:00:00.000000000'
 '2020-05-27T00:00:00.000000000' '2020-12-28T00:00:00.000000000'
 '2019-03-14T00:00:00.000000000' '2020-03-10T00:00:00.000000000'
 '2020-06-30T00:00:00.000000000' '2019-08-07T00:00:00.000000000'
 '2019-01-14T00:00:00.000000000' '2019-02-16T00:00:00.000000000'
 '2020-06-22T00:00:00.000000000' '2019-02-23T00:00:00.000000000'
 '2019-03-08T00:00:00.000000000' '2019-03-15T00:00:00.000000000'
 '2020-08-18T00:00:00.000000000' '2020-01-07T00:00:00.000000000'
 '2019-05-01T00:00:00.000000000' '2019-08-26T00:00:00.000000000'
 '2020-04-07T00:00:00.000000000' '2019-07-10T00:00:00.000000000'
 '2019-10-25T00:00:00.000000000' '2019-12-03T00:00:00.000000000'
 '2020-05-02T00:00:00.000000000' '2020-09-23T00:00:00.000000000'
 '2019-06-25T00:00:00.000000000' '2020-08-04T00:00:00.000000000'
 '2019-05-16T00:00:00.000000000' '2020-11-14T00:00:00.000000000'
 '2019-10-23T00:00:00.000000000' '2019-11-28T00:00:00.000000000'
 '2019-11-05T00:00:00.000000000' '2019-02-02T00:00:00.000000000'
 '2019-05-08T00:00:00.000000000' '2019-01-11T00:00:00.000000000'
 '2020-11-17T00:00:00.000000000' '2019-02-18T00:00:00.000000000'
 '2019-01-25T00:00:00.000000000' '2020-05-06T00:00:00.000000000'
 '2020-09-25T00:00:00.000000000' '2020-02-10T00:00:00.000000000'
 '2019-07-15T00:00:00.000000000' '2020-04-29T00:00:00.000000000'
 '2019-02-15T00:00:00.000000000' '2020-07-08T00:00:00.000000000'
 '2020-04-28T00:00:00.000000000' '2020-11-20T00:00:00.000000000'
 '2019-11-16T00:00:00.000000000' '2019-06-21T00:00:00.000000000'
 '2019-12-10T00:00:00.000000000' '2019-09-13T00:00:00.000000000'
 '2019-08-20T00:00:00.000000000' '2020-01-24T00:00:00.000000000'
 '2019-03-30T00:00:00.000000000' '2019-10-04T00:00:00.000000000'
 '2020-01-30T00:00:00.000000000' '2019-02-19T00:00:00.000000000'
 '2019-03-23T00:00:00.000000000' '2019-03-18T00:00:00.000000000'
 '2020-01-09T00:00:00.000000000' '2020-01-17T00:00:00.000000000'
 '2020-08-11T00:00:00.000000000' '2019-08-04T00:00:00.000000000'
 '2020-03-04T00:00:00.000000000' '2019-05-09T00:00:00.000000000'
 '2019-01-19T00:00:00.000000000' '2020-06-05T00:00:00.000000000'
 '2020-11-23T00:00:00.000000000' '2020-10-24T00:00:00.000000000'
 '2020-11-16T00:00:00.000000000' '2019-08-30T00:00:00.000000000'
 '2020-12-01T00:00:00.000000000' '2019-08-27T00:00:00.000000000'
 '2020-09-19T00:00:00.000000000' '2019-09-10T00:00:00.000000000'
 '2020-06-23T00:00:00.000000000' '2019-11-23T00:00:00.000000000'
 '2019-07-16T00:00:00.000000000' '2020-10-16T00:00:00.000000000'
 '2020-02-14T00:00:00.000000000' '2020-02-03T00:00:00.000000000'
 '2019-04-25T00:00:00.000000000' '2019-07-13T00:00:00.000000000'
 '2020-08-24T00:00:00.000000000' '2020-08-31T00:00:00.000000000'
 '2020-11-30T00:00:00.000000000' '2019-09-14T00:00:00.000000000'
 '2020-12-21T00:00:00.000000000' '2020-01-28T00:00:00.000000000'
 '2019-04-13T00:00:00.000000000' '2019-05-06T00:00:00.000000000'
 '2020-05-23T00:00:00.000000000' '2020-11-28T00:00:00.000000000'
 '2020-09-12T00:00:00.000000000' '2019-06-08T00:00:00.000000000'
 '2020-01-27T00:00:00.000000000' '2020-03-09T00:00:00.000000000'
 '2020-05-20T00:00:00.000000000' '2019-06-12T00:00:00.000000000'
 '2020-03-27T00:00:00.000000000' '2019-10-08T00:00:00.000000000'
 '2020-06-20T00:00:00.000000000' '2019-10-03T00:00:00.000000000'
 '2020-12-10T00:00:00.000000000' '2020-03-25T00:00:00.000000000'
 '2019-07-31T00:00:00.000000000' '2019-04-10T00:00:00.000000000'
 '2020-10-30T00:00:00.000000000' '2019-02-25T00:00:00.000000000'
 '2020-08-06T00:00:00.000000000' '2020-01-16T00:00:00.000000000'
 '2019-08-31T00:00:00.000000000' '2020-12-16T00:00:00.000000000'
 '2019-10-30T00:00:00.000000000' '2019-02-01T00:00:00.000000000'
 '2019-03-04T00:00:00.000000000' '2019-07-25T00:00:00.000000000'
 '2019-07-30T00:00:00.000000000' '2019-09-28T00:00:00.000000000'
 '2019-03-12T00:00:00.000000000' '2019-09-09T00:00:00.000000000'
 '2019-05-20T00:00:00.000000000' '2020-03-21T00:00:00.000000000'
 '2019-11-26T00:00:00.000000000' '2019-06-03T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2019-01-17T00:00:00.000000000'
 '2020-07-02T00:00:00.000000000' '2020-02-12T00:00:00.000000000'
 '2019-01-03T00:00:00.000000000' '2019-06-27T00:00:00.000000000'
 '2019-01-02T00:00:00.000000000' '2019-11-22T00:00:00.000000000'
 '2020-10-08T00:00:00.000000000' '2019-04-16T00:00:00.000000000'
 '2020-08-12T00:00:00.000000000' '2019-06-19T00:00:00.000000000'
 '2020-11-11T00:00:00.000000000' '2019-10-29T00:00:00.000000000'
 '2019-05-15T00:00:00.000000000' '2019-02-11T00:00:00.000000000'
 '2020-03-02T00:00:00.000000000' '2019-03-20T00:00:00.000000000'
 '2019-01-07T00:00:00.000000000' '2020-06-09T00:00:00.000000000'
 '2019-06-20T00:00:00.000000000' '2019-07-14T00:00:00.000000000'
 '2020-12-04T00:00:00.000000000' '2019-04-01T00:00:00.000000000'
 '2020-03-05T00:00:00.000000000' '2019-02-21T00:00:00.000000000'
 '2019-08-12T00:00:00.000000000' '2019-07-02T00:00:00.000000000'
 '2019-09-06T00:00:00.000000000' '2020-07-27T00:00:00.000000000'
 '2020-08-14T00:00:00.000000000' '2020-05-17T00:00:00.000000000'
 '2020-06-02T00:00:00.000000000' '2019-09-30T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-10-05T00:00:00.000000000'
 '2019-11-14T00:00:00.000000000' '2019-05-07T00:00:00.000000000'
 '2019-01-04T00:00:00.000000000' '2020-02-02T00:00:00.000000000'
 '2020-09-07T00:00:00.000000000' '2019-01-16T00:00:00.000000000'
 '2020-04-18T00:00:00.000000000' '2019-08-28T00:00:00.000000000'
 '2019-04-09T00:00:00.000000000' '2020-07-24T00:00:00.000000000'
 '2019-12-26T00:00:00.000000000' '2020-11-04T00:00:00.000000000'
 '2020-04-30T00:00:00.000000000' '2020-07-14T00:00:00.000000000'
 '2019-09-24T00:00:00.000000000' '2019-06-17T00:00:00.000000000'
 '2020-06-12T00:00:00.000000000' '2020-10-26T00:00:00.000000000'
 '2020-10-20T00:00:00.000000000' '2019-08-23T00:00:00.000000000'
 '2019-05-14T00:00:00.000000000' '2019-01-30T00:00:00.000000000'
 '2019-08-09T00:00:00.000000000' '2019-12-14T00:00:00.000000000'
 '2020-05-11T00:00:00.000000000' '2020-04-23T00:00:00.000000000'
 '2019-08-01T00:00:00.000000000' '2019-03-27T00:00:00.000000000'
 '2020-03-03T00:00:00.000000000' '2019-06-18T00:00:00.000000000'
 '2019-04-05T00:00:00.000000000' '2020-10-06T00:00:00.000000000'
 '2019-11-06T00:00:00.000000000' '2020-01-13T00:00:00.000000000'
 '2020-10-17T00:00:00.000000000' '2020-08-19T00:00:00.000000000'
 '2019-12-09T00:00:00.000000000' '2019-04-26T00:00:00.000000000'
 '2019-06-15T00:00:00.000000000' '2020-02-17T00:00:00.000000000'
 '2020-11-03T00:00:00.000000000' '2019-01-21T00:00:00.000000000'
 '2019-09-25T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2019-09-27T00:00:00.000000000' '2020-11-25T00:00:00.000000000'
 '2020-12-07T00:00:00.000000000' '2020-10-27T00:00:00.000000000'
 '2020-11-13T00:00:00.000000000' '2019-10-11T00:00:00.000000000'
 '2019-12-05T00:00:00.000000000' '2019-07-04T00:00:00.000000000'
 '2020-01-15T00:00:00.000000000' '2019-05-21T00:00:00.000000000'
 '2019-03-06T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2020-07-17T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2020-02-07T00:00:00.000000000' '2020-01-18T00:00:00.000000000'
 '2019-10-26T00:00:00.000000000' '2019-03-29T00:00:00.000000000'
 '2019-05-18T00:00:00.000000000' '2020-05-15T00:00:00.000000000'
 '2020-07-03T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-06T00:00:00.000000000' '2019-10-02T00:00:00.000000000'
 '2019-03-05T00:00:00.000000000' '2019-04-22T00:00:00.000000000'
 '2020-09-17T00:00:00.000000000' '2019-02-20T00:00:00.000000000'
 '2020-09-02T00:00:00.000000000' '2020-04-15T00:00:00.000000000'
 '2019-04-04T00:00:00.000000000' '2020-10-01T00:00:00.000000000'
 '2019-08-14T00:00:00.000000000' '2020-01-14T00:00:00.000000000'
 '2020-08-20T00:00:00.000000000' '2019-04-03T00:00:00.000000000'
 '2020-05-30T00:00:00.000000000' '2020-09-03T00:00:00.000000000'
 '2020-03-20T00:00:00.000000000' '2019-09-07T00:00:00.000000000'
 '2020-07-01T00:00:00.000000000' '2019-06-24T00:00:00.000000000'
 '2019-05-29T00:00:00.000000000' '2019-07-07T00:00:00.000000000'
 '2020-10-19T00:00:00.000000000' '2020-07-19T00:00:00.000000000'
 '2020-05-19T00:00:00.000000000' '2019-07-22T00:00:00.000000000'
 '2020-07-31T00:00:00.000000000' '2020-05-07T00:00:00.000000000'
 '2019-02-04T00:00:00.000000000' '2020-04-04T00:00:00.000000000'
 '2019-08-16T00:00:00.000000000' '2020-12-19T00:00:00.000000000'
 '2019-01-12T00:00:00.000000000' '2020-06-03T00:00:00.000000000'
 '2019-05-31T00:00:00.000000000' '2019-02-13T00:00:00.000000000'
 '2020-09-14T00:00:00.000000000' '2019-06-07T00:00:00.000000000'
 '2019-10-09T00:00:00.000000000' '2019-12-13T00:00:00.000000000'
 '2020-09-29T00:00:00.000000000' '2020-01-08T00:00:00.000000000'
 '2020-05-14T00:00:00.000000000' '2019-07-12T00:00:00.000000000'
 '2020-07-04T00:00:00.000000000' '2020-05-12T00:00:00.000000000'
 '2020-05-05T00:00:00.000000000' '2020-02-18T00:00:00.000000000'
 '2019-03-11T00:00:00.000000000' '2019-07-29T00:00:00.000000000'
 '2019-12-12T00:00:00.000000000' '2019-06-10T00:00:00.000000000'
 '2019-07-26T00:00:00.000000000' '2020-02-13T00:00:00.000000000'
 '2019-11-01T00:00:00.000000000' '2019-05-17T00:00:00.000000000'
 '2020-11-19T00:00:00.000000000' '2019-11-27T00:00:00.000000000'
 '2019-05-24T00:00:00.000000000' '2019-04-07T00:00:00.000000000'
 '2020-06-18T00:00:00.000000000' '2020-04-05T00:00:00.000000000'
 '2020-02-15T00:00:00.000000000' '2019-08-21T00:00:00.000000000'
 '2019-07-28T00:00:00.000000000' '2020-03-07T00:00:00.000000000'
 '2019-01-27T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2020-08-09T00:00:00.000000000' '2019-11-25T00:00:00.000000000'
 '2020-09-26T00:00:00.000000000' '2020-01-21T00:00:00.000000000'
 '2019-07-18T00:00:00.000000000' '2020-01-03T00:00:00.000000000'
 '2020-02-19T00:00:00.000000000' '2020-11-10T00:00:00.000000000'
 '2019-10-20T00:00:00.000000000' '2019-04-11T00:00:00.000000000'
 '2020-08-03T00:00:00.000000000' '2019-11-13T00:00:00.000000000'
 '2020-08-26T00:00:00.000000000' '2019-09-11T00:00:00.000000000'
 '2019-11-29T00:00:00.000000000' '2019-09-03T00:00:00.000000000'
 '2019-12-27T00:00:00.000000000' '2019-03-19T00:00:00.000000000'
 '2019-09-19T00:00:00.000000000' '2020-12-15T00:00:00.000000000'
 '2019-11-02T00:00:00.000000000' '2020-07-13T00:00:00.000000000'
 '2020-07-21T00:00:00.000000000' '2020-08-13T00:00:00.000000000'
 '2020-01-10T00:00:00.000000000' '2020-07-30T00:00:00.000000000'
 '2020-09-13T00:00:00.000000000' '2020-08-29T00:00:00.000000000'
 '2019-10-16T00:00:00.000000000' '2020-08-08T00:00:00.000000000'
 '2020-06-19T00:00:00.000000000' '2020-09-11T00:00:00.000000000'
 '2020-12-22T00:00:00.000000000' '2019-01-28T00:00:00.000000000'
 '2020-04-20T00:00:00.000000000' '2020-09-05T00:00:00.000000000'
 '2020-03-08T00:00:00.000000000' '2019-04-24T00:00:00.000000000'
 '2019-04-23T00:00:00.000000000' '2020-07-25T00:00:00.000000000'
 '2019-01-18T00:00:00.000000000' '2019-02-14T00:00:00.000000000'
 '2020-01-25T00:00:00.000000000' '2020-12-24T00:00:00.000000000'
 '2020-11-06T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2019-11-12T00:00:00.000000000' '2020-09-01T00:00:00.000000000'
 '2019-09-04T00:00:00.000000000' '2019-05-13T00:00:00.000000000'
 '2020-01-29T00:00:00.000000000' '2019-04-08T00:00:00.000000000'
 '2020-03-16T00:00:00.000000000' '2020-11-09T00:00:00.000000000'
 '2019-02-17T00:00:00.000000000' '2019-12-07T00:00:00.000000000'
 '2020-09-08T00:00:00.000000000' '2020-02-23T00:00:00.000000000'
 '2020-10-12T00:00:00.000000000' '2020-10-13T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2019-02-09T00:00:00.000000000'
 '2019-10-21T00:00:00.000000000' '2019-05-28T00:00:00.000000000'
 '2019-07-24T00:00:00.000000000' '2019-09-22T00:00:00.000000000'
 '2019-12-19T00:00:00.000000000' '2020-09-09T00:00:00.000000000'
 '2020-02-06T00:00:00.000000000' '2020-08-25T00:00:00.000000000'
 '2019-09-01T00:00:00.000000000' '2019-09-18T00:00:00.000000000'
 '2020-10-04T00:00:00.000000000' '2020-11-18T00:00:00.000000000'
 '2019-07-19T00:00:00.000000000' '2020-03-24T00:00:00.000000000'
 '2019-05-11T00:00:00.000000000' '2019-06-11T00:00:00.000000000'
 '2019-12-17T00:00:00.000000000' '2019-03-10T00:00:00.000000000'
 '2020-03-26T00:00:00.000000000' '2020-05-09T00:00:00.000000000'
 '2020-05-28T00:00:00.000000000' '2020-06-14T00:00:00.000000000'
 '2020-05-08T00:00:00.000000000' '2020-06-06T00:00:00.000000000'
 '2019-09-21T00:00:00.000000000' '2020-08-28T00:00:00.000000000'
 '2020-08-01T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2020-09-20T00:00:00.000000000' '2020-02-01T00:00:00.000000000'
 '2020-04-10T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2019-04-27T00:00:00.000000000' '2019-03-16T00:00:00.000000000'
 '2019-08-22T00:00:00.000000000' '2019-10-12T00:00:00.000000000'
 '2020-07-18T00:00:00.000000000' '2019-10-24T00:00:00.000000000'
 '2019-07-27T00:00:00.000000000' '2019-08-06T00:00:00.000000000'
 '2020-12-11T00:00:00.000000000' '2019-06-14T00:00:00.000000000'
 '2019-03-26T00:00:00.000000000' '2020-07-23T00:00:00.000000000'
 '2020-11-21T00:00:00.000000000' '2020-11-24T00:00:00.000000000'
 '2019-10-22T00:00:00.000000000' '2019-11-20T00:00:00.000000000'
 '2019-02-27T00:00:00.000000000' '2019-12-29T00:00:00.000000000'
 '2019-06-16T00:00:00.000000000' '2020-03-18T00:00:00.000000000'
 '2020-12-23T00:00:00.000000000' '2019-01-22T00:00:00.000000000'
 '2019-12-18T00:00:00.000000000' '2019-05-27T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2019-11-10T00:00:00.000000000'
 '2019-01-29T00:00:00.000000000' '2019-08-29T00:00:00.000000000'
 '2020-05-13T00:00:00.000000000' '2020-05-22T00:00:00.000000000'
 '2019-05-10T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-12-26T00:00:00.000000000' '2019-04-29T00:00:00.000000000'
 '2019-02-08T00:00:00.000000000' '2020-01-01T00:00:00.000000000'
 '2019-06-29T00:00:00.000000000' '2019-04-14T00:00:00.000000000'
 '2019-12-23T00:00:00.000000000' '2020-12-05T00:00:00.000000000'
 '2020-12-02T00:00:00.000000000' '2020-08-27T00:00:00.000000000'
 '2020-02-28T00:00:00.000000000' '2019-11-11T00:00:00.000000000'
 '2020-06-15T00:00:00.000000000' '2019-07-21T00:00:00.000000000'
 '2020-12-03T00:00:00.000000000' '2019-12-06T00:00:00.000000000'
 '2019-04-02T00:00:00.000000000' '2020-08-21T00:00:00.000000000'
 '2020-07-09T00:00:00.000000000' '2020-04-14T00:00:00.000000000'
 '2019-02-07T00:00:00.000000000' '2020-07-05T00:00:00.000000000'
 '2019-12-28T00:00:00.000000000' '2020-01-04T00:00:00.000000000'
 '2019-02-22T00:00:00.000000000' '2020-09-10T00:00:00.000000000'
 '2020-09-24T00:00:00.000000000' '2019-04-12T00:00:00.000000000'
 '2020-06-29T00:00:00.000000000' '2020-01-02T00:00:00.000000000'
 '2019-01-26T00:00:00.000000000' '2019-06-02T00:00:00.000000000'
 '2020-09-04T00:00:00.000000000' '2019-06-28T00:00:00.000000000'
 '2020-04-13T00:00:00.000000000' '2019-10-13T00:00:00.000000000'
 '2019-04-20T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-02-21T00:00:00.000000000' '2020-06-26T00:00:00.000000000'
 '2019-07-05T00:00:00.000000000' '2020-09-06T00:00:00.000000000'
 '2020-06-10T00:00:00.000000000' '2019-08-08T00:00:00.000000000'

### NaN Handler

In [ ]:
df['jenis_poli'].mode()

0    1
dtype: int64

In [ ]:
df['kode_ICD4'] = df['kode_ICD4'].astype('str')

In [ ]:
#kolom 12 diisi mode
df['jenis_poli'] = df['jenis_poli'].fillna(1.0)
#kolom 15 diisi kode_ICD4[:3]
icd3 = []
for i in df['kode_ICD4']:
  icd3.append(i[:3])
df['kode_ICD3'] = icd3

In [ ]:
icd3

In [ ]:
len(df['kode_ICD4'][0])

4

In [ ]:
df.isna().sum()

no_peserta             0
no_kel                 0
bobot                  0
id_kunj                0
tgl_datang             0
tgl_pulang             0
prov                   0
kab                    0
kepemilikan            0
jenis                  0
tipe                   0
tingkat_pelayanan      0
jenis_poli             0
segmen_peserta         0
kode_ICD               0
kode_ICD3              0
kode_ICD4              0
ICD4_diagnosis         0
prov_rujukan           0
kab_rujukan            0
kepemilikan_rujukan    0
jenis_rujukan          0
tipe_rujukan           0
poli_rujukan           0
jenis_kunjungan        0
dtype: int64

## Drop

In [ ]:
df = df.drop(['ICD4_diagnosis'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 24 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   no_peserta           1014225 non-null  float64
 1   no_kel               1014225 non-null  int64
 2   bobot                1014225 non-null  float64
 3   id_kunj              1014225 non-null  object
 4   tgl_datang           1014225 non-null  datetime64[ns]
 5   tgl_pulang           1014225 non-null  datetime64[ns]
 6   prov                 1014225 non-null  int64
 7   kab                  1014225 non-null  int64
 8   kepemilikan          1014225 non-null  int64
 9   jenis                1014225 non-null  int64
 10  tipe                 1014225 non-null  int64
 11  tingkat_pelayanan    1014225 non-null  int64
 12  jenis_poli           1014225 non-null  int64
 13  segmen_peserta       1014225 non-null  int64
 14  kode_ICD             1014225 non-null  int64
 15  kode_ICD3            1014225 non-null  object
 16  kode_ICD4            1014225 non-null  object
 17  prov_rujukan         1014225 non-null  int64
 18  kab_rujukan          1014225 non-null  int64
 19  kepemilikan_rujukan  1014225 non-null  int64
 20  jenis_rujukan        1014225 non-null  int64
 21  tipe_rujukan         1014225 non-null  int64
 22  poli_rujukan         1014225 non-null  int64
 23  jenis_kunjungan      1014225 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(17), object(3)
memory usage: 185.7+ MB

# Feature Engineering

##Jumlah per peserta

In [ ]:
df.groupby(['no_peserta']).head()

,no_peserta,no_kel,bobot,id_kunj,tgl_datang,tgl_pulang,prov,kab,kepemilikan,jenis,...,kode_ICD3,kode_ICD4,prov_rujukan,kab_rujukan,kepemilikan_rujukan,jenis_rujukan,tipe_rujukan,poli_rujukan,jenis_kunjungan,status_pulang
0,95085112.0,26931775,2.626307,449590620P000054,2020-06-17,2020-06-17,51,5171,9,3,...,K2,K297,98,9998,98,98,98,98,1,Belum_Sehat
1,224470578.0,227368233,1.051830,467490619P000001,2019-06-01,2019-06-01,35,3516,9,2,...,Z3,Z309,98,9998,98,98,98,98,1,Belum_Sehat
2,63871289.0,62313678,364.741455,254321219Y002368,2019-12-21,2019-12-21,34,3402,3,1,...,I1,I10,98,9998,98,98,98,98,1,Belum_Sehat
3,29915626.0,113446188,1.050523,88681119P000020,2019-11-04,2019-11-04,35,3509,3,1,...,I1,I110,98,9998,98,98,98,98,1,Belum_Sehat
4,189355720.0,69855169,30.044949,97010720P000238,2020-07-15,2020-07-15,62,6206,3,1,...,I1,I10,98,9998,98,98,98,98,1,Belum_Sehat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4056887,24766757.0,44813505,16.388153,25380419Y000191,2019-04-22,2019-04-22,53,5302,3,1,...,J0,J09,98,9998,98,98,98,98,1,Belum_Sehat
4056889,18267669.0,90970599,299.083801,1042794066,2019-11-08,2019-11-08,73,7309,3,1,...,99,9999,98,9998,98,98,98,98,2,Sehat
4056892,212666736.0,91270403,14.246229,1285820875,2020-07-29,2020-07-29,35,3505,9,3,...,99,9999,98,9998,98,98,98,98,2,Sehat
4056893,30859241.0,30859241,3.886934,315641120P000514,2020-11-14,2020-11-14,35,3514,9,2,...,H2,H269,35,3514,9,2,14,99,1,Belum_Sehat
4056894,8859416.0,8859416,6.146070,962412926,2019-08-16,2019-08-16,11,1171,4,2,...,99,9999,98,9998,98,98,98,98,2,Sehat

jumlah kunjungan

In [ ]:
df.groupby(['no_peserta']).size()

no_peserta
15.0           1
101.0          1
218.0          3
349.0          1
814.0          1
              ..
455361705.0    2
455362964.0    3
455369713.0    1
455372039.0    2
455377139.0    1
Length: 478035, dtype: int64

In [ ]:
dup_id = df.groupby(['no_peserta']).size()
dup_id_pes = []
for i in df['no_peserta']:
  dup_id_pes.append(dup_id[i])
len(dup_id_pes)

1014225

jumlah pulang tidak sehat dan sehat

In [ ]:
pes_pul = pd.DataFrame(df.groupby(['no_peserta', 'status_pulang']).size().reset_index())
pes_pul

          no_peserta status_pulang  0
0               15.0         Sehat  1
1              218.0   Belum_Sehat  2
2              218.0         Sehat  8
3              349.0         Sehat  2
4              370.0   Belum_Sehat  1
...              ...           ... ..
1034174  455379400.0   Belum_Sehat  1
1034175  455380114.0   Belum_Sehat  2
1034176  455382357.0   Belum_Sehat  1
1034177  455387636.0   Belum_Sehat  1
1034178  455388519.0   Belum_Sehat  1

[1034179 rows x 3 columns]

In [ ]:
pes_pul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034179 entries, 0 to 1034178
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   no_peserta     1034179 non-null  float64
 1   status_pulang  1034179 non-null  object
 2   0              1034179 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.7+ MB

In [ ]:
tdk_sehat = []
sehat = []
for i in range(len(df['no_peserta'])):
  print(i)
  if len(pes_pul.loc[(pes_pul['no_peserta'] == df['no_peserta'][i]) & (pes_pul['status_pulang'] == 'Belum_Sehat')]) != 0:
    tdk_sehat.append(pes_pul.loc[(pes_pul['no_peserta'] == df['no_peserta'][i]) & (pes_pul['status_pulang'] == 'Belum_Sehat')][0])
  else:
    tdk_sehat.append(0)
  if len(pes_pul.loc[(pes_pul['no_peserta'] == df['no_peserta'][i]) & (pes_pul['status_pulang'] == 'Sehat')]) != 0:
    sehat.append(pes_pul.loc[(pes_pul['no_peserta'] == df['no_peserta'][i]) & (pes_pul['status_pulang'] == 'Sehat')][0])
  else:
    sehat.append(0)
print(len(tdk_sehat), len(sehat))

In [ ]:
df['jum_kunj'] = dup_id_pes
# df['pul_sehat'] = sehat
# df['pul_tida'] = tdk_sehat

In [ ]:
'9999' in df['kode_ICD4']

False

In [ ]:
huruf = []
angka = []
for i in df['kode_ICD4']:
  angka.append(i[1:])
  huruf.append(i[0])

In [ ]:
df['kodeICD_huruf'] = huruf

In [ ]:
df['kodeICD_angka'] = angka

In [ ]:
df.isna().sum()

no_peserta             0
no_kel                 0
bobot                  0
id_kunj                0
tgl_datang             0
tgl_pulang             0
prov                   0
kab                    0
kepemilikan            0
jenis                  0
tipe                   0
tingkat_pelayanan      0
jenis_poli             0
segmen_peserta         0
kode_ICD               0
kode_ICD3              0
kode_ICD4              0
prov_rujukan           0
kab_rujukan            0
kepemilikan_rujukan    0
jenis_rujukan          0
tipe_rujukan           0
poli_rujukan           0
jenis_kunjungan        0
jum_kunj               0
kodeICD_huruf          0
kodeICD_angka          0
dtype: int64

In [ ]:
df['kodeICD_angka'] = df['kodeICD_angka'].astype('float')

In [ ]:
hari_inap = (df['tgl_pulang'] - df['tgl_datang']).dt.days
df['jml_hari'] = hari_inap

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 28 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   no_peserta           1014225 non-null  float64
 1   no_kel               1014225 non-null  int64
 2   bobot                1014225 non-null  float64
 3   id_kunj              1014225 non-null  object
 4   tgl_datang           1014225 non-null  datetime64[ns]
 5   tgl_pulang           1014225 non-null  datetime64[ns]
 6   prov                 1014225 non-null  int64
 7   kab                  1014225 non-null  int64
 8   kepemilikan          1014225 non-null  int64
 9   jenis                1014225 non-null  int64
 10  tipe                 1014225 non-null  int64
 11  tingkat_pelayanan    1014225 non-null  int64
 12  jenis_poli           1014225 non-null  int64
 13  segmen_peserta       1014225 non-null  int64
 14  kode_ICD             1014225 non-null  int64
 15  kode_ICD3            1014225 non-null  object
 16  kode_ICD4            1014225 non-null  object
 17  prov_rujukan         1014225 non-null  int64
 18  kab_rujukan          1014225 non-null  int64
 19  kepemilikan_rujukan  1014225 non-null  int64
 20  jenis_rujukan        1014225 non-null  int64
 21  tipe_rujukan         1014225 non-null  int64
 22  poli_rujukan         1014225 non-null  int64
 23  jenis_kunjungan      1014225 non-null  int64
 24  jum_kunj             1014225 non-null  int64
 25  kodeICD_huruf        1014225 non-null  object
 26  kodeICD_angka        1014225 non-null  float64
 27  jml_hari             1014225 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(19), object(4)
memory usage: 216.7+ MB

In [ ]:
df['tgl_datang'] = pd.to_datetime(df.tgl_datang, format='%Y-%m-%d').values.astype("float64")
df['tgl_pulang'] = pd.to_datetime(df.tgl_datang, format='%Y-%m-%d').values.astype("float64")

In [ ]:
df.to_csv('/content/drive/MyDrive/BDC/test-siap-encode.csv')

# EDA

## Encoding

In [ ]:
import pandas as pd

test = pd.read_csv("/content/drive/MyDrive/BDC/test-siap-encode.csv", sep=",")
test.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,16,17,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 29 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1014225 non-null  int64
 1   no_peserta           1014225 non-null  float64
 2   no_kel               1014225 non-null  int64
 3   bobot                1014225 non-null  float64
 4   id_kunj              1014225 non-null  object
 5   tgl_datang           1014225 non-null  float64
 6   tgl_pulang           1014225 non-null  float64
 7   prov                 1014225 non-null  int64
 8   kab                  1014225 non-null  int64
 9   kepemilikan          1014225 non-null  int64
 10  jenis                1014225 non-null  int64
 11  tipe                 1014225 non-null  int64
 12  tingkat_pelayanan    1014225 non-null  int64
 13  jenis_poli           1014225 non-null  int64
 14  segmen_peserta       1014225 non-null  int64
 15  kode_ICD             1014225 non-null  int64
 16  kode_ICD3            1014225 non-null  object
 17  kode_ICD4            1014225 non-null  object
 18  prov_rujukan         1014225 non-null  int64
 19  kab_rujukan          1014225 non-null  int64
 20  kepemilikan_rujukan  1014225 non-null  int64
 21  jenis_rujukan        1014225 non-null  int64
 22  tipe_rujukan         1014225 non-null  int64
 23  poli_rujukan         1014225 non-null  int64
 24  jenis_kunjungan      1014225 non-null  int64
 25  jum_kunj             1014225 non-null  int64
 26  kodeICD_huruf        1014225 non-null  object
 27  kodeICD_angka        1014225 non-null  float64
 28  jml_hari             1014225 non-null  int64
dtypes: float64(5), int64(20), object(4)
memory usage: 224.4+ MB

In [ ]:
train = pd.read_csv("/content/drive/MyDrive/BDC/train-siap-encode.csv", sep=",")
train.info()

NameError: ignored

In [ ]:
import pandas as pd
test = pd.read_csv('/content/drive/MyDrive/BDC/test-icd3-icd4-jenis_kunj-encode.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [ ]:
list_df = ['kode_ICD_huruf', 'kode_ICD_angka']
hasil_encode_train = pd.DataFrame()

In [ ]:
df['kodeICD_huruf'] = df['kodeICD_huruf'].astype('str')
df['kodeICD_angka'] = df['kodeICD_angka'].astype('str')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056897 entries, 0 to 4056896
Data columns (total 29 columns):
 #   Column               Dtype
---  ------               -----
 0   no_peserta           float64
 1   no_kel               int64
 2   bobot                float64
 3   id_kunj              object
 4   tgl_datang           float64
 5   tgl_pulang           float64
 6   prov                 int64
 7   kab                  int64
 8   kepemilikan          int64
 9   jenis                int64
 10  tipe                 int64
 11  tingkat_pelayanan    int64
 12  jenis_poli           float64
 13  segmen_peserta       int64
 14  kode_ICD             int64
 15  kode_ICD3            object
 16  kode_ICD4            object
 17  prov_rujukan         int64
 18  kab_rujukan          int64
 19  kepemilikan_rujukan  int64
 20  jenis_rujukan        int64
 21  tipe_rujukan         int64
 22  poli_rujukan         int64
 23  jenis_kunjungan      int64
 24  status_pulang        object
 25  jum_kunj             int64
 26  kodeICD_huruf        object
 27  kodeICD_angka        float64
 28  jml_hari             int64
dtypes: float64(6), int64(18), object(5)
memory usage: 897.6+ MB

In [ ]:
list_df = ['kode_ICD4', 'kode_ICD3','jenis_kunjungan']
hasil_encode_test = pd.DataFrame()
hasil_encode_train = pd.DataFrame()

In [ ]:
train['kode_ICD4'] = train['kode_ICD4'].astype('str')
test['kode_ICD4'] = train['kode_ICD4'].astype('str')
train['kode_ICD3'] = train['kode_ICD3'].astype('str')
test['kode_ICD3'] = train['kode_ICD3'].astype('str')
train['kode_ICD3'] = train['kode_ICD3'].astype('str')
test['kode_ICD3'] = train['kode_ICD3'].astype('str')

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in list_df:
    print(i)
    le.fit(list(set(list(train[i].unique()) + list(test[i].unique()))))
    # list(le.classes_)
    hasil_encode_test[i] = le.transform(test[i])
    hasil_encode_train[i] = le.transform(train[i])

kode_ICD4
kode_ICD3
jenis_kunjungan

In [ ]:
hasil_encode_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 3 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   kode_ICD4        1014225 non-null  int64
 1   kode_ICD3        1014225 non-null  int64
 2   jenis_kunjungan  1014225 non-null  int64
dtypes: int64(3)
memory usage: 23.2 MB

In [ ]:
test['id_kunj'] = test['id_kunj'].astype('str')

In [ ]:
#perform label encoding
test[['no_kel_enc', 'id_kunj_enc']] = test[['no_kel', 'id_kunj']].apply(LabelEncoder().fit_transform)

#view udpated DataFrame
# print(df)

KeyError: ignored

In [ ]:
test[['kode_ICD3_enc', 'kode_ICD4_enc', 'jenis_kunjungan_enc']] = hasil_encode_test

In [ ]:
test = test.drop(['no_kel', 'id_kunj', 'kode_ICD3', 'kode_ICD4', 'jenis_kunjungan'], axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 29 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1014225 non-null  int64
 1   no_peserta           1014225 non-null  float64
 2   bobot                1014225 non-null  float64
 3   tgl_datang           1014225 non-null  float64
 4   tgl_pulang           1014225 non-null  float64
 5   prov                 1014225 non-null  int64
 6   kab                  1014225 non-null  int64
 7   kepemilikan          1014225 non-null  int64
 8   jenis                1014225 non-null  int64
 9   tipe                 1014225 non-null  int64
 10  tingkat_pelayanan    1014225 non-null  int64
 11  jenis_poli           1014225 non-null  int64
 12  segmen_peserta       1014225 non-null  int64
 13  kode_ICD             1014225 non-null  int64
 14  prov_rujukan         1014225 non-null  int64
 15  kab_rujukan          1014225 non-null  int64
 16  kepemilikan_rujukan  1014225 non-null  int64
 17  jenis_rujukan        1014225 non-null  int64
 18  tipe_rujukan         1014225 non-null  int64
 19  poli_rujukan         1014225 non-null  int64
 20  jum_kunj             1014225 non-null  int64
 21  kodeICD_huruf        1014225 non-null  object
 22  kodeICD_angka        1014225 non-null  float64
 23  jml_hari             1014225 non-null  int64
 24  no_kel_enc           1014225 non-null  int64
 25  id_kunj_enc          1014225 non-null  int64
 26  kode_ICD3_enc        1014225 non-null  int64
 27  kode_ICD4_enc        1014225 non-null  int64
 28  jenis_kunjungan_enc  1014225 non-null  int64
dtypes: float64(5), int64(23), object(1)
memory usage: 224.4+ MB

In [ ]:
hasil_encode_train.to_csv('/content/drive/MyDrive/BDC/train-icd3-icd4-jenis_kunj-encode.csv')
test.to_csv('/content/drive/MyDrive/BDC/test-icd3-icd4-jenis_kunj-encode.csv')

In [ ]:
test['kodeICD_huruf'] = test['kodeICD_huruf'].astype('str')

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 30 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1014225 non-null  int64
 1   Unnamed: 0.1         1014225 non-null  int64
 2   no_peserta           1014225 non-null  float64
 3   bobot                1014225 non-null  float64
 4   tgl_datang           1014225 non-null  float64
 5   tgl_pulang           1014225 non-null  float64
 6   prov                 1014225 non-null  int64
 7   kab                  1014225 non-null  int64
 8   kepemilikan          1014225 non-null  int64
 9   jenis                1014225 non-null  int64
 10  tipe                 1014225 non-null  int64
 11  tingkat_pelayanan    1014225 non-null  int64
 12  jenis_poli           1014225 non-null  int64
 13  segmen_peserta       1014225 non-null  int64
 14  kode_ICD             1014225 non-null  int64
 15  prov_rujukan         1014225 non-null  int64
 16  kab_rujukan          1014225 non-null  int64
 17  kepemilikan_rujukan  1014225 non-null  int64
 18  jenis_rujukan        1014225 non-null  int64
 19  tipe_rujukan         1014225 non-null  int64
 20  poli_rujukan         1014225 non-null  int64
 21  jum_kunj             1014225 non-null  int64
 22  kodeICD_huruf        1014225 non-null  object
 23  kodeICD_angka        1014225 non-null  float64
 24  jml_hari             1014225 non-null  int64
 25  no_kel_enc           1014225 non-null  int64
 26  id_kunj_enc          1014225 non-null  int64
 27  kode_ICD3_enc        1014225 non-null  int64
 28  kode_ICD4_enc        1014225 non-null  int64
 29  jenis_kunjungan_enc  1014225 non-null  int64
dtypes: float64(5), int64(24), object(1)
memory usage: 232.1+ MB

In [ ]:
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(test[['prov']]).toarray())
encoder_df.columns = encoder.get_feature_names(['Prov'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['kepemilikan']]).toarray())
encoder_df.columns = encoder.get_feature_names(['kepemilikan'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['jenis']]).toarray())
encoder_df.columns = encoder.get_feature_names(['jenis'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['tipe']]).toarray())
encoder_df.columns = encoder.get_feature_names(['tipe'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['tingkat_pelayanan']]).toarray())
encoder_df.columns = encoder.get_feature_names(['tingkat_pelayanan'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['jenis_poli']]).toarray())
encoder_df.columns = encoder.get_feature_names(['jenis_poli'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['segmen_peserta']]).toarray())
encoder_df.columns = encoder.get_feature_names(['segmen_peserta'])
test = test.join(encoder_df)

encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(test[['prov_rujukan']]).toarray())
encoder_df.columns = encoder.get_feature_names(['prov_rujukan'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['kepemilikan_rujukan']]).toarray())
encoder_df.columns = encoder.get_feature_names(['kepemilikan_rujukan'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['jenis_rujukan']]).toarray())
encoder_df.columns = encoder.get_feature_names(['jenis_rujukan'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['tipe_rujukan']]).toarray())
encoder_df.columns = encoder.get_feature_names(['tipe_rujukan'])
test = test.join(encoder_df)

encoder_df = pd.DataFrame(encoder.fit_transform(test[['kodeICD_huruf']]).toarray())
encoder_df.columns = encoder.get_feature_names(['kodeICD_huruf'])
test = test.join(encoder_df)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
test = test.drop(['Unnamed: 0', 'prov', 'kepemilikan', 'jenis', 'tipe', 'tingkat_pelayanan', 'jenis_poli', 'segmen_peserta', 'prov_rujukan', 'kepemilikan_rujukan', 'jenis_rujukan', 'tipe_rujukan', 'kodeICD_huruf'], axis=1)

NameError: ignored

In [ ]:
test.to_csv('/content/drive/MyDrive/BDC/test-encoded.csv')

NameError: ignored

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 29 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1014225 non-null  int64
 1   no_peserta           1014225 non-null  float64
 2   no_kel               1014225 non-null  int64
 3   bobot                1014225 non-null  float64
 4   id_kunj              1014225 non-null  object
 5   tgl_datang           1014225 non-null  float64
 6   tgl_pulang           1014225 non-null  float64
 7   prov                 1014225 non-null  int64
 8   kab                  1014225 non-null  int64
 9   kepemilikan          1014225 non-null  int64
 10  jenis                1014225 non-null  int64
 11  tipe                 1014225 non-null  int64
 12  tingkat_pelayanan    1014225 non-null  int64
 13  jenis_poli           1014225 non-null  int64
 14  segmen_peserta       1014225 non-null  int64
 15  kode_ICD             1014225 non-null  int64
 16  kode_ICD3            1014225 non-null  object
 17  kode_ICD4            1014225 non-null  object
 18  prov_rujukan         1014225 non-null  int64
 19  kab_rujukan          1014225 non-null  int64
 20  kepemilikan_rujukan  1014225 non-null  int64
 21  jenis_rujukan        1014225 non-null  int64
 22  tipe_rujukan         1014225 non-null  int64
 23  poli_rujukan         1014225 non-null  int64
 24  jenis_kunjungan      1014225 non-null  int64
 25  jum_kunj             1014225 non-null  int64
 26  kodeICD_huruf        1014225 non-null  object
 27  kodeICD_angka        1014225 non-null  float64
 28  jml_hari             1014225 non-null  int64
dtypes: float64(5), int64(20), object(4)
memory usage: 224.4+ MB

In [ ]:
test['id_kunj'] = test['id_kunj'].astype('str')

hilmi

In [ ]:
# encoder = OneHotEncoder(handle_unknown='ignore')
# encoder_df = pd.DataFrame(encoder.fit_transform(test[['id_kunj']]).toarray())
# encoder_df.columns = encoder.get_feature_names(['id_kunj'])
# df = test.join(encoder_df)

# encoder_df = pd.DataFrame(encoder.fit_transform(test[['kode_ICD4']]).toarray())
# encoder_df.columns = encoder.get_feature_names(['kode_ICD4'])
# df = test.join(encoder_df)

# encoder_df = pd.DataFrame(encoder.fit_transform(test[['kode_ICD3']]).toarray())
# encoder_df.columns = encoder.get_feature_names(['kode_ICD3'])
# df = test.join(encoder_df)

# encoder_df = pd.DataFrame(encoder.fit_transform(test[['jenis_kunjungan']]).toarray())
# encoder_df.columns = encoder.get_feature_names(['jenis_kunjungan'])
# df = test.join(encoder_df)

encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(test[['jenis_poli']]).toarray())
encoder_df.columns = encoder.get_feature_names(['jenis_poli'])
df = test.join(encoder_df)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
encoder_df = pd.DataFrame(encoder.fit_transform(test[['kodeICD_huruf']]).toarray())
encoder_df.columns = encoder.get_feature_names(['kodeICD_huruf'])
df = test.join(encoder_df)

In [ ]:
encoder_df = pd.DataFrame(encoder.fit_transform(test[['kodeICD_angka']]).toarray())
encoder_df.columns = encoder.get_feature_names(['kodeICD_angka'])
df = test.join(encoder_df)

## Correlation

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from dython import nominal
import scipy.stats as stats

In [ ]:
df = pd.read_csv("csv-encode.csv", sep=",")

In [ ]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1)

In [ ]:
df['tgl_datang'] = pd.to_datetime(df.tgl_datang, format='%Y-%m-%d')
df['tgl_pulang'] = pd.to_datetime(df.tgl_datang, format='%Y-%m-%d')

In [ ]:
x = df.drop(['status_pulang_enc', 'ICD4_diagnosis', 'kodeICD_huruf'], axis=1)

### Pearson Correlation

In [ ]:
p_corr = df.drop(['ICD4_diagnosis', 'kodeICD_huruf'], axis=1).corr()

In [ ]:
pearson = pd.DataFrame(p_corr['status_pulang_enc'])
pearson

In [ ]:
p_sort = pearson.sort_values(by=['status_pulang_enc'], ascending=False)
p_sort

In [ ]:
p_sort.loc[p_sort['status_pulang_enc'] >= 0.5]

### Theil U Correlation

In [ ]:
theilu = pd.DataFrame(index=['status_pulang_enc'],columns=x.columns)
columns = x.columns
for j in range(0,len(columns)):
    u = nominal.theils_u(df['status_pulang_enc'].tolist(),x[columns[j]].tolist())
    theilu.loc[:,columns[j]] = u
theilu.fillna(value=np.nan,inplace=True)
plt.figure(figsize=(20,1))
sns.heatmap(theilu,annot=True,fmt='.2f')
plt.show()

In [ ]:
t_transpose = theilu.transpose().sort_values(by=['status_pulang_enc'], ascending=False)
t_transpose

In [ ]:
t_transpose.loc[t_transpose['status_pulang_enc'] >= 0.5]

### Cramers V Correlation

In [ ]:
def cramers_corrected_stat(confusion_matrix):
    """ calculate Cramers V statistic for categorical-categorical association.
        uses correction from Bergsma and Wicher, 
        Journal of the Korean Statistical Society 42 (2013): 323-328
    """
    chi2 = stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2/n
    r,k = confusion_matrix.shape
    phi2corr = max(0, phi2 - ((k-1)*(r-1))/(n-1))    
    rcorr = r - ((r-1)**2)/(n-1)
    kcorr = k - ((k-1)**2)/(n-1)
    return np.sqrt(phi2corr / min( (kcorr-1), (rcorr-1)))

In [ ]:
cramersv_1 = pd.DataFrame(index=['status_pulang_enc'],columns=x.columns)
columns = x.columns
for i in range(0,len(columns)):
    # print(i)
    u = cramers_corrected_stat(pd.crosstab(df['status_pulang_enc'], x[columns[i]]))
    cramersv_1.loc[:,columns[i]] = u
cramersv_1.fillna(value=np.nan,inplace=True)
plt.figure(figsize=(20,1))
sns.heatmap(cramersv_1,annot=True,fmt='.2f')
plt.show()

In [ ]:
c1_transpose = cramersv_1.transpose().sort_values(by=['status_pulang_enc'], ascending=False)
c1_transpose

In [ ]:
c1_transpose.loc[c1_transpose['status_pulang_enc'] >= 0.5]

### Chi-Square Correlation

In [ ]:
def chi_square(col1,col2):
    contingency = np.array(pd.crosstab(col1, col2))
    val = stats.chi2_contingency(contingency)
    return val

null hypothesis: col1 and col2 are independent. There are no correlation

In [ ]:
chisquare = pd.DataFrame(index=['status_pulang_enc', 'chi_square', 'p_value'],columns=x.columns)
columns = x.columns
sig_level = 0.05
for j in range(0,len(columns)):
    print(j)
    u = chi_square(df['status_pulang_enc'],x[columns[j]])
    if u[1] > sig_level:
        chisquare.loc['status_pulang_enc'][columns[j]] = 0 #null hypothesis accepted
    else:
        chisquare.loc['status_pulang_enc'][columns[j]] = 1 #null hypothesis rejected
    chisquare.loc['chi_square'][columns[j]] = u[0]
    chisquare.loc['p_value'][columns[j]] = u[1]

In [ ]:
chisquare.fillna(value=np.nan,inplace=True)
plt.figure(figsize=(20,1))
sns.heatmap(chisquare,annot=True,fmt='.2f')
plt.show()

In [ ]:
chisquare_transpose = chisquare.transpose().sort_values(by=['status_pulang_enc'], ascending=False)
chisquare_transpose

# Modelling

In [ ]:
#Import Libraries
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import classification_report
import statistics as stat
from sklearn.metrics import accuracy_score
#from sklearn.metrics import confusion_matrix
from imblearn.over_sampling import SMOTE, ADASYN
from collections import Counter
# Modules used for assessing the performance of the model
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

#Performance Report
def generateClassificationReport(y_test,y_pred):
    print(classification_report(y_test,y_pred))
    print(confusion_matrix(y_test,y_pred))    
    print('accuracy is ', accuracy_score(y_test,y_pred))

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/BDC/cramers-train.csv", sep=",")
# drop yang tidak dibutuhkan
df = df.drop(['Unnamed: 0',
 'kodeICD_huruf_A',
 'kodeICD_huruf_B',
 'kodeICD_huruf_C',
 'kodeICD_huruf_D',
 'kodeICD_huruf_E',
 'kodeICD_huruf_F',
 'kodeICD_huruf_G',
 'kodeICD_huruf_H',
 'kodeICD_huruf_I',
 'kodeICD_huruf_J',
 'kodeICD_huruf_K',
 'kodeICD_huruf_L',
 'kodeICD_huruf_M',
 'kodeICD_huruf_N',
 'kodeICD_huruf_O',
 'kodeICD_huruf_P',
 'kodeICD_huruf_Q',
 'kodeICD_huruf_R',
 'kodeICD_huruf_S',
 'kodeICD_huruf_T',
 'kodeICD_huruf_U',
 'kodeICD_huruf_V',
 'kodeICD_huruf_W',
 'kodeICD_huruf_X',
 'kodeICD_huruf_Y',
 'kodeICD_huruf_Z'], axis=1)

In [ ]:
y = df['status_pulang']
df = df.drop(['status_pulang'], axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.1)

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/BDC/cramers-test.csv", sep=",")

In [ ]:
test = test.rename(columns={'jenis_kunjungan_enc': 'jenis_kunjungan', 
                            'jenis_poli_1': 'jenis_poli_1.0',
                            'jenis_poli_12': 'jenis_poli_12.0',
                            'jenis_poli_13': 'jenis_poli_13.0',
                            'kode_ICD3_enc': 'kode_ICD3',
                            'kode_ICD4_enc': 'kode_ICD4'})

In [ ]:
test = test.drop(['Unnamed: 0',
 'kodeICD_huruf_A',
 'kodeICD_huruf_B',
 'kodeICD_huruf_C',
 'kodeICD_huruf_D',
 'kodeICD_huruf_E',
 'kodeICD_huruf_F',
 'kodeICD_huruf_G',
 'kodeICD_huruf_H',
 'kodeICD_huruf_I',
 'kodeICD_huruf_J',
 'kodeICD_huruf_K',
 'kodeICD_huruf_L',
 'kodeICD_huruf_M',
 'kodeICD_huruf_N',
 'kodeICD_huruf_O',
 'kodeICD_huruf_P',
 'kodeICD_huruf_Q',
 'kodeICD_huruf_R',
 'kodeICD_huruf_S',
 'kodeICD_huruf_T',
 'kodeICD_huruf_U',
 'kodeICD_huruf_V',
 'kodeICD_huruf_W',
 'kodeICD_huruf_X',
 'kodeICD_huruf_Y',
 'kodeICD_huruf_Z'], axis=1)

In [ ]:
j = pd.read_csv('/content/drive/MyDrive/BDC/BDC Satria Data 2022/submission.csv')
j.head()

In [ ]:
j = j.rename(columns={'Unnamed: 0': 'no'})
j.head()

## Voting Classifier

In [ ]:
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
from sklearn.linear_model import LogisticRegression
from imblearn.ensemble import BalancedBaggingClassifier

rf = RandomForestClassifier(n_estimators=50)
lgbm = lgb.LGBMClassifier(max_depth=6, num_iterations=1000, num_leaves=50)
bbc = BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=2), n_estimators=10,random_state=2,n_jobs=2)
# lr=LogisticRegression(max_iter=1000)

model=VotingClassifier(estimators=[('lgbm',lgbm),('rf',rf),('bbc',bbc)],voting='soft')
model.fit(X_train, y_train)
acc1 = []
target_pred = model.predict(X_test)
generateClassificationReport(y_test,target_pred)
acc1.append(accuracy_score(y_test,target_pred))

print("\n F1 Score: ", f1_score(y_test, target_pred))
print("\n Recall: ", recall_score(y_test, target_pred))
print("\n Accuracy: ", stat.mean(acc1))

![yy.png]()

In [ ]:
result = model.predict(test)

In [ ]:
j['Status'] = result
j.no = j.no.astype(str)
j.FKP02 = j.FKP02.astype(str)
j.info()

## Bagging balanced x class weight with DecisionTree

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056897 entries, 0 to 4056896
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id_kunj          int64
 1   no_kel           int64
 2   no_peserta       int64
 3   kode_ICD4        int64
 4   kode_ICD3        int64
 5   jenis_kunjungan  int64
 6   kodeICD_angka    int64
 7   kodeICD_huruf_9  float64
 8   jenis_poli_1.0   float64
 9   jenis_poli_13.0  float64
 10  jenis_poli_12.0  float64
dtypes: float64(4), int64(7)
memory usage: 340.5 MB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.1)

In [ ]:
# evaluate bagging with knn algorithm for classification
from numpy import mean
from numpy import std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from imblearn.ensemble import BalancedBaggingClassifier
# define the model
model = BalancedBaggingClassifier(
    base_estimator=DecisionTreeClassifier(class_weight = 'balanced', random_state=7), 
    n_estimators=10,
    random_state=42,
    n_jobs=2)
# evaluate the model
model.fit(df, y)

BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight='balanced',
                                                                random_state=7),
                          n_jobs=2, random_state=42)

In [ ]:
acc1 = []
target_pred = model.predict(X_test)
generateClassificationReport(y_test,target_pred)
acc1.append(accuracy_score(y_test,target_pred))
print("\n F1 Score: ", f1_score(y_test, target_pred))
print("\n Accuracy: ", stat.mean(acc1))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    262845
           1       1.00      1.00      1.00    142845

    accuracy                           1.00    405690
   macro avg       1.00      1.00      1.00    405690
weighted avg       1.00      1.00      1.00    405690

[[262649    196]
 [   344 142501]]
accuracy is  0.9986689344080456

 F1 Score:  0.9981088596423644

 Accuracy:  0.9986689344080456

In [ ]:
acc1 = []
target_pred = model.predict(df)
generateClassificationReport(y,target_pred)
acc1.append(accuracy_score(y,target_pred))
print("\n F1 Score: ", f1_score(y, target_pred))
print("\n Accuracy: ", stat.mean(acc1))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   2634511
           1       1.00      1.00      1.00   1422386

    accuracy                           1.00   4056897
   macro avg       1.00      1.00      1.00   4056897
weighted avg       1.00      1.00      1.00   4056897

[[2632514    1997]
 [   3327 1419059]]
accuracy is  0.998687666953339

 F1 Score:  0.9981276213828171

 Accuracy:  0.998687666953339

In [ ]:
# save the model to disk
import pickle
%cd '/content/drive/MyDrive/BDC'
filename = './decisiontreeclassifier-bagbal-cw.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))

/content/drive/.shortcut-targets-by-id/1TnlK0p-G3RTX1KNM_nNxK7LQlClI3wjp/BDC

In [ ]:
import sklearn
sklearn.__version__

'1.0.2'

# Random Forest Basic

In [ ]:
#Fitting Model, Predict, Evaluation
model = RandomForestClassifier(n_estimators=50)
acc1 = []
model.fit(X_train, y_train)
#target_pred = model.predict(X_test)
#generateClassificationReport(y_test,target_pred)
#acc1.append(accuracy_score(y_test,target_pred))

#print("\n Accuracy: ", stat.mean(acc1))
#print("F1-score: ", f1_score(y_test, target_pred))

RandomForestClassifier(n_estimators=50)

In [ ]:
# save the model to disk
import pickle
%cd '/content/drive/MyDrive/BDC'
filename = './randomforestclassifier-basic2.sav'
pickle.dump(model, open(filename, 'wb'))

# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))

/content/drive/.shortcut-targets-by-id/1TnlK0p-G3RTX1KNM_nNxK7LQlClI3wjp/BDC

In [ ]:
target_pred = model.predict(X_test)
generateClassificationReport(y_test,target_pred)
acc1.append(accuracy_score(y_test,target_pred))

print("\n Accuracy: ", stat.mean(acc1))
print("F1-score: ", f1_score(y_test, target_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99    263742
           1       0.99      0.98      0.99    141948

    accuracy                           0.99    405690
   macro avg       0.99      0.99      0.99    405690
weighted avg       0.99      0.99      0.99    405690

[[263000    742]
 [  2209 139739]]
accuracy is  0.9927259730335971

 Accuracy:  0.9927259730335971
F1-score:  0.9895513562700714

In [ ]:
target_pred = model.predict(df)
generateClassificationReport(y,target_pred)
acc1.append(accuracy_score(y,target_pred))

print("\n Accuracy: ", stat.mean(acc1))
print("F1-score: ", f1_score(y, target_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   2634511
           1       1.00      1.00      1.00   1422386

    accuracy                           1.00   4056897
   macro avg       1.00      1.00      1.00   4056897
weighted avg       1.00      1.00      1.00   4056897

[[2633758     753]
 [   2541 1419845]]
accuracy is  0.9991880493884858

 Accuracy:  0.9959570112110414
F1-score:  0.9988413582348687

In [ ]:
# save the model to disk
import pickle
%cd '/content/drive/MyDrive/BDC'
filename = './randomforestclassifier-basic.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))

/content/drive/.shortcut-targets-by-id/1TnlK0p-G3RTX1KNM_nNxK7LQlClI3wjp/BDC

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056897 entries, 0 to 4056896
Data columns (total 38 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   id_kunj          int64
 2   no_kel           int64
 3   no_peserta       int64
 4   kode_ICD4        int64
 5   kode_ICD3        int64
 6   jenis_kunjungan  int64
 7   kodeICD_angka    int64
 8   kodeICD_huruf_9  float64
 9   kodeICD_huruf_A  float64
 10  kodeICD_huruf_B  float64
 11  kodeICD_huruf_C  float64
 12  kodeICD_huruf_D  float64
 13  kodeICD_huruf_E  float64
 14  kodeICD_huruf_F  float64
 15  kodeICD_huruf_G  float64
 16  kodeICD_huruf_H  float64
 17  kodeICD_huruf_I  float64
 18  kodeICD_huruf_J  float64
 19  kodeICD_huruf_K  float64
 20  kodeICD_huruf_L  float64
 21  kodeICD_huruf_M  float64
 22  kodeICD_huruf_N  float64
 23  kodeICD_huruf_O  float64
 24  kodeICD_huruf_P  float64
 25  kodeICD_huruf_Q  float64
 26  kodeICD_huruf_R  float64
 27  kodeICD_huruf_S  float64
 28  kodeICD_huruf_T  float64
 29  kodeICD_huruf_U  float64
 30  kodeICD_huruf_V  float64
 31  kodeICD_huruf_W  float64
 32  kodeICD_huruf_X  float64
 33  kodeICD_huruf_Y  float64
 34  kodeICD_huruf_Z  float64
 35  jenis_poli_1.0   float64
 36  jenis_poli_13.0  float64
 37  jenis_poli_12.0  float64
dtypes: float64(30), int64(8)
memory usage: 1.1 GB

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/BDC/cramers-test.csv')

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 38 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1014225 non-null  int64
 1   id_kunj              1014225 non-null  int64
 2   no_kel               1014225 non-null  int64
 3   no_peserta           1014225 non-null  int64
 4   kode_ICD4_enc        1014225 non-null  int64
 5   kode_ICD3_enc        1014225 non-null  int64
 6   jenis_kunjungan_enc  1014225 non-null  int64
 7   kodeICD_angka        1014225 non-null  int64
 8   kodeICD_huruf_9      1014225 non-null  float64
 9   kodeICD_huruf_A      1014225 non-null  float64
 10  kodeICD_huruf_B      1014225 non-null  float64
 11  kodeICD_huruf_C      1014225 non-null  float64
 12  kodeICD_huruf_D      1014225 non-null  float64
 13  kodeICD_huruf_E      1014225 non-null  float64
 14  kodeICD_huruf_F      1014225 non-null  float64
 15  kodeICD_huruf_G      1014225 non-null  float64
 16  kodeICD_huruf_H      1014225 non-null  float64
 17  kodeICD_huruf_I      1014225 non-null  float64
 18  kodeICD_huruf_J      1014225 non-null  float64
 19  kodeICD_huruf_K      1014225 non-null  float64
 20  kodeICD_huruf_L      1014225 non-null  float64
 21  kodeICD_huruf_M      1014225 non-null  float64
 22  kodeICD_huruf_N      1014225 non-null  float64
 23  kodeICD_huruf_O      1014225 non-null  float64
 24  kodeICD_huruf_P      1014225 non-null  float64
 25  kodeICD_huruf_Q      1014225 non-null  float64
 26  kodeICD_huruf_R      1014225 non-null  float64
 27  kodeICD_huruf_S      1014225 non-null  float64
 28  kodeICD_huruf_T      1014225 non-null  float64
 29  kodeICD_huruf_U      1014225 non-null  float64
 30  kodeICD_huruf_V      1014225 non-null  float64
 31  kodeICD_huruf_W      1014225 non-null  float64
 32  kodeICD_huruf_X      1014225 non-null  float64
 33  kodeICD_huruf_Y      1014225 non-null  float64
 34  kodeICD_huruf_Z      1014225 non-null  float64
 35  jenis_poli_1         1014225 non-null  float64
 36  jenis_poli_13        1014225 non-null  float64
 37  jenis_poli_12        1014225 non-null  float64
dtypes: float64(30), int64(8)
memory usage: 294.0 MB

In [ ]:
test = test.rename(columns={'jenis_kunjungan_enc': 'jenis_kunjungan', 
                            'jenis_poli_1': 'jenis_poli_1.0',
                            'jenis_poli_12': 'jenis_poli_12.0',
                            'jenis_poli_13': 'jenis_poli_13.0',
                            'kode_ICD3_enc': 'kode_ICD3',
                            'kode_ICD4_enc': 'kode_ICD4'})

In [ ]:
result = model.predict(test)

In [ ]:
type(result)

numpy.ndarray